<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>webapp</title>
    <link rel="stylesheet" href="">
    <style>
        table, th, td {border: 1px solid blue;}
    </style>
</head>
<body>
<h1>WELCOME TO CONTACT-MANAGER APP</h1>

<h2>It's just an demoWebpage for this Application</h2>

<table style="width:30">
    <tr>
        <th>User SignUp</th>
        <th>User SignIn</th>
        <th>SignOut</th>
    </tr>
    <tr>
        <td> click on SignUp Button</td>
        <td> click on SignIn Button</td>
        <td> click on SignOut Button</td>

    </tr>

</table>


<button type="submit"><a href="/signup">SignUp</a></button>

<button type="submit"><a href="/signin">SignIn</a></button>

<button type="submit"><a href="/signout">SignOut</a></button>

<script src="" async defer></script>


</body>
</html>